<!DOCTYPE html>
<html lang="en">
<head>
    <title>Riddle Ready</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Sora">
    <link href="../static/styles.css" rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"></script>
    <script src="/static/script.js"></script>
</head>
<body>
<nav class="navbar navbar-expand-sm bg-light fixed-top">
    <a class="navbar-brand ms-3" href="/">
        <span class="row">
            <span class="col-sm-1 me-5">
                <img src="/static/logo.png" alt="Avatar Logo" style="width:60px;" class="rounded-pill">
            </span>
            <span class="col-sm-2 mt-3">
                <h5>Riddle Ready</h5>
            </span>
        </span>
    </a>

    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#collapsibleNavbar">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="collapsibleNavbar">
        <ul class="navbar-nav">
            <li class="nav-item">
                <a class="nav-link" href="/about">About</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/products">Products</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/contact">Contact</a>
            </li>
        </ul>
    </div>
</nav>

<!--subscription packages-->
<section>
    <div class="row">
        <div class="col-sm-12 col-med-12 col-lg-5">
            <div class="row d-flex justify-content-center">
                <div class="col-sm-8 my-5">
                    <h1>Subscription Packages</h1>
                    <br>
                    <h6>Select your poison – from "Casual Conundrums" for those who enjoy mediocrity to "Mastermind
                        Mysteries" for those delusional about their intellectual capabilities.</h6>
                    <div class="d-grid">
                        <button type="button" class="btn btn-outline-success py-3 mt-3">Casual Conundrums</button>
                        <button type="button" class="btn btn-outline-success py-3 mt-3">Mindful Mischief Monthly
                        </button>
                        <button type="button" class="btn btn-outline-success py-3 mt-3">Masterful Mysteries</button>
                    </div>
                    <br>
                    <a href="#" style="text-decoration: none">See more →</a>
                </div>
            </div>
        </div>
        <div class="col-sm-12 col-md-12 col-lg-7">
            <div class="row d-flex justify-content-center">
                <div class="col-sm-8 m-5" t align="center">
                    <img class="img-fluid" src="static/subscription.jpeg" alt="homepage image" width="800px">
                </div>
            </div>
        </div>
    </div>
</section>
<br>

<!--training sessions-->
<section>
    <div class="row">
        <div class="col-sm-12 col-med-12 col-lg-7">
            <div class="row d-flex justify-content-center">
                <div class="col-sm-8 m-5" t align="center">
                    <img class="img-fluid" src="static/training.jpeg" alt="training image" width="800px">
                </div>
            </div>
        </div>
        <div class="col-sm-12 col-med-12 col-lg-5">
            <div class="row d-flex justify-content-center">
                <div class="col-sm-8 my-5" align="right">
                    <h1>Training Sessions</h1>
                    <br>
                    <h6>Endure our condescending Riddle Master's coaching sessions, designed to remind you that you're
                        not as clever as you think. Humiliation has never been this educational.</h6>
                    <div class="d-grid">
                        <button type="button" class="btn btn-outline-success py-3 mt-3">Foundations of Frustration</button>
                        <button type="button" class="btn btn-outline-success py-3 mt-3">Riddle Resilience Regimen
                        </button>
                        <button type="button" class="btn btn-outline-success py-3 mt-3">Logic Labyrinth Lessons (Advanced)</button>
                    </div>
                    <br>
                    <a href="#" style="text-decoration: none">See more →</a>
                </div>
            </div>
        </div>
    </div>
</section>
<br>
<br>

<!--riddling events-->
<section style="background-color: #029e2b">
    <br>
    <div class="container mx-5" align="center">
        <h1 class="mt-5">Riddling Events</h1>
        <h6 class="text-white"> We do parties! Subject your friends and family to an evening of forced intellectual
            discomfort. Gather
            around for a collective
            experience that guarantees awkward silences and questionable life decisions.</h6>
    </div>
    <div class="row d-flex justify-content-center">
        <div class="col-sm-8 m-5" t align="center">
            <img class="img-fluid" src="static/party.png" alt="homepage image" width="800px">
        </div>
    </div>
    <div class="container mb-5" align="center">
        <a href="#" style="text-decoration: none" class="text-white">Schedule now →</a>
    </div>
    <br>
</section>
<br>

<!--exclusive riddle gear-->
<section>
    <div class="container mx-5 mt-5" align="center">
        <h1>Exclusive Riddle Gear</h1>
        <h6> Receive pretentious Riddle Ready gear, because nothing says "I enjoy unnecessary suffering" like flaunting
            your questionable puzzle-solving prowess.</h6>
    </div>
    <div class="row d-flex justify-content-center">
        <div class="col-sm-8 m-5" t align="center">
            <img class="img-fluid" src="static/merch.png" alt="merchandise image" width="800px">
        </div>
    </div>
    <div class="container mb-5" align="center">
        <a href="#" style="text-decoration: none">Shop now →</a>
    </div>
</section>


<footer class="text-center text-white" style="background-color: #029e2b">
    <div class="container">
        <section class="mt-5 pt-5">
            <div class="row" align="center">
                <div class="col-md-3">
                    <h4 class="font-weight-bold">
                        <a href="/" class="text-white" style="text-decoration:none">Home</a>
                    </h4>
                </div>
                <div class="col-md-3">
                    <h4 class=" font-weight-bold">
                        <a href="/about" class="text-white" style="text-decoration:none">About</a>
                    </h4>
                </div>
                <div class="col-md-3">
                    <h4 class=" font-weight-bold">
                        <a href="/products" class="text-white" style="text-decoration:none">Products</a>
                    </h4>
                </div>
                <div class="col-md-3">
                    <h4 class="font-weight-bold">
                        <a href="/contact" class="text-white" style="text-decoration:none">Contact</a>
                    </h4>
                </div>
            </div>
        </section>

        <hr class="my-5"/>

        <section class="pb-5">
            <div class="row">
                <div class="col-lg-2"></div>
                <div class="col-lg-8" align="center">
                    <p>
                        Ever dreamed of being accosted at your doorstep by a smirking Riddle Master forcing you to prove
                        your intellectual prowess? Welcome to Riddle Ready Services – where entering your own home
                        becomes a mind-bending challenge. Our service offers a relentless barrage of personalized
                        riddles, ensuring you never forget how unprepared you are for life's unexpected twists.
                    </p>
                </div>
            </div>
        </section>
    </div>
</footer>
</body>
</html>